<div class="container-fluid m-0 p-0">
    <div class="my-3 mx-3">
        <h1 class="homemade-apple-regular">TuSegundazo.com</h1>
    </div>
    <hr>
    <div>
        <img src="assets/header.png" alt="header-img" class="img-fluid">
    </div>
    <hr>
</div>
<table class="table w-75">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Linea</th>
            <th scope="col">Modelo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carro of carros;">
            <td>{{ carro.id }}</td>
            <td>{{ carro.marca }}</td>
            <td>{{ carro.linea }}</td>
            <td>{{ carro.modelo }}</td>
        </tr>
    </tbody>
</table>

<div>
    <p class="m-0">Total Renault: {{ totalRenault }}</p>
    <p class="m-0">Total Chevrolet: {{ totalChevrolet }}</p>
    <p class="m-0">Total Nissan: {{ totalNissan }}</p>
</div>

<div class="container-fluid">
    <p class="text-center">Contact us: +57 3102105253 - info&#64;tusegundazo.com - &#64;tusegundazo</p>
</div>